* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: estedad;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Estedad-Regular.woff2') format('woff2'),
        url('fonts/Estedad-Regular.ttf') format('truetype');
}

@font-face {
    font-family: estedad;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Estedad-Bold.woff2') format('woff2'),
        url('fonts/Estedad-Bold.woff2') format('truetype');
}

@font-face {
    font-family: mikhak;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Mikhak-Medium.ttf') format('truetype');
}

@font-face {
    font-family: mikhak;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Mikhak-Bold.ttf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
}

.web-menu-section {
    width: 100%;
    height: 100px;
    background-color: white;
    color: #425664;
    font-family: estedad;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.web-header-fixed {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    color: #425664;
    font-family: estedad;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    z-index: 100;
    margin-top: -50px;
}

.web-menu-section .first-line {
    height: 50px;
}

.web-menu-section .first-line .first-row {
    height: 9vh;
}

.web-menu-section .first-line .left {
    display: flex;
    text-align: left;
}

.web-menu-section .first-line .left a img {
    width: 45px;
    height: 45px;
    margin: 10px 0 0 0;
}

.web-menu-section .first-line .left span {
    text-decoration: none;
    color: #425664;
    font-size: 40px;
    margin: 0 15px 0;
}

.web-menu-section .first-line .left button {
    border: solid 2px #425664;
    background-color: transparent;
    width: 197px;
    height: 40px;
    color: #425664;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    transition: all .4s;
}

.web-menu-section .first-line .left button:hover {
    background-color: #c6ad8f;
}

.web-menu-section .first-line .left button span {
    position: relative;
    top: -30%;
    font-size: 15px;
}

.web-menu-section .first-line .right {
    display: flex;
    text-align: right;
    float: right;
}

.web-menu-section .first-line .right .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #425664;
    width: 520px;
    height: 30px;
    margin-top: 15px;
    margin-right: 4px;
    border-radius: 10px;
}

.web-menu-section .first-line .right .search-box input {
    width: 480px;
    margin-right: 10px;
    outline: none;
}

.web-menu-section .first-line .right .search-box input::placeholder {
    text-align: right;
}

.web-menu-section .first-line .right a {
    text-align: center;
    text-decoration: none;
    color: #c5a47c;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 9px;
}

.web-menu-section .second-line {
    height: 50px;
    margin-top: 10px;
}

.web-menu-section .second-line .left {
    display: flex;
    text-align: center;
}

.web-menu-section .second-line .left a {
    text-decoration: none;
    color: #425664;
    font-size: 16px;
    transition: all .4s;
}

.web-menu-section .second-line .left:hover {
    color: #c6ad8f;
}

.web-menu-section .second-line .right {
    width: 100%;
}

.web-menu-section .second-line .right ul {
    display: flex;
    float: right;
}

.web-menu-section .second-line .right li {
    list-style: none;
    margin-left: 14px;
}

.web-menu-section .second-line .right a {
    text-decoration: none;
    color: #425664;
    font-size: 12px;
    transition: all .4s;
}

.web-menu-section .second-line .right a:hover {
    color: #c6ad8f;
}

.web-menu-section .second-line .right i {
    margin-left: 2px;
}

.web-menu-section .second-menu {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    height: 6vh;
}

.web-menu-section .hamburger-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    z-index: 200;
    position: absolute;
}

.web-menu-section .hamburger-menu .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: #c5a47c;
    margin-bottom: 10px;
}

.web-menu-section .second-menu .menu {
    position: relative;
    top: 19px;
}

.web-menu-section .second-menu .hamburger-nav {
    position: relative;
    width: 50vw;
    z-index: 100;
    height: 100vh;
    display: none;
}

.web-menu-section .second-menu .hamburger-nav .hover {
    background-color: #425664;
    position: fixed !important;
    top: 0px;
    transition: right .5s;
    position: relative;
    height: 100vh;
}

.web-menu-section .second-menu .hamburger-nav .right {
    background-color: #425664;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    transition: .5s;
    left: 50%;
}

.web-menu-section .second-menu .hamburger-nav .right li {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}

.web-menu-section .second-menu .hamburger-nav .right li a {
    text-decoration: none;
    color: #f6f4f2;
    font-size: 20px;
    font-family: estedad;
    margin-bottom: 5px;
}

.web-menu-section .second-menu .hamburger-nav .right li a:hover {
    border-bottom: solid 2px #d35252;

}

.web-menu-section .second-menu .hamburger-nav .right .card {
    background-color: transparent;
    border: 0;
}

.web-menu-section .second-menu .hamburger-nav .right .card-header {
    background-color: transparent;
    border: 0;
    position: relative;
    margin-bottom: 20px;
    top: 40px;
    right: -20px;
}

.web-menu-section .second-menu .hamburger-nav .right .card-header a {
    text-decoration: none;
    color: #f6f4f2;
    font-size: 20px;
    font-family: estedad;
}

.web-menu-section .second-menu .hamburger-nav .right .card-header a:hover {
    border-bottom: solid 2px #d35252;
}

.web-menu-section .second-menu .hamburger-nav .right .card-body li {
    margin-bottom: 10px;
}

.web-menu-section .second-menu .hamburger-nav .right .card-body a {
    text-decoration: none;
    color: #f6f4f2;
    font-size: 16px;
    font-family: estedad;
    transition: all .4s;
}

.web-menu-section .second-line .left-replace {
    display: none;
}

.web-menu-section .second-line .left-replace {
    text-align: left;
}

.web-menu-section .second-line .left-replace a img {
    width: 45px;
    height: 45px;
    margin-top: 5px;
}

.web-menu-section .second-line .left-replace span {
    text-decoration: none;
    color: #425664;
    font-size: 40px;
    margin: 0 15px 0;
}

.web-menu-section .second-line .left-replace button {
    border: solid 2px #425664;
    background-color: transparent;
    width: 197px;
    height: 35px;
    color: #425664;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
    transition: all .4s;
}

.web-menu-section .second-line .left-replace button:hover {
    background-color: #c6ad8f;
}

.web-menu-section .second-line .left-replace button span {
    position: relative;
    top: -30%;
    font-size: 15px;
}

#check:checked~.web-menu-section .first-line .right {
    right: 0;
}

.web-nav-section {
    width: 100%;
    text-align: right;
}

.web-nav-section .nav button {
    outline: 0;
    color: #425664;
    font-size: 12px;
    transition: all .4s;
}

.web-nav-section .dropdown {
    display: flex;
    flex-direction: column;
}

.web-nav-section .dropdown-menu {
    transform: translate3d(-1220px, 37px, 0px);
}


.web-nav-section .nav .column {
    margin: 0 90px;
}

.web-nav-section .nav .column ul {
    display: inline-block;
}

.web-nav-section .nav .column li {
    list-style: none;
}

.web-nav-section .nav .column a {
    color: #425664;
    text-decoration: none;
    font-family: estedad;
    font-size: 15px;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.web-nav-section .nav .column a:hover {
    border-bottom: solid 2px #d35252;
    color: #425664;
}

.web-nav-section .nav .column .title:hover {
    color: #c6ad8f;
    border-bottom: solid 2px #d35252;
}

.web-nav-section .nav .column .title {
    color: #c6ad8f;
    font-family: mikhak;
    font-weight: bold;
    font-size: 17px;
}

.web-nav-section .nav .dropdown-menu {
    width: 100vw;
    text-align: right;
    background-color: rgb(245, 245, 245);
}

.web-product-section {
    margin-top: 50px;
    height: 270px;
}

.web-product-section .left {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    height: 245px;
    padding: 20px;
}

.web-product-section .left .top h4 {
    text-align: right;
    color: #c5a47c;
    text-decoration: none;
    font-family: estedad;
    font-size: 15px;
}

.web-product-section .left .top i {
    text-align: right;
    color: #c5a47c;
    text-decoration: none;
    font-family: estedad;
    display: inline-block;
    font-size: 15px;
    top: 7px;
}

.web-product-section .left .center h4 {
    text-align: right;
    color: #425664;
    text-decoration: none;
    font-family: mikhak;
    font-size: 15px;
    padding: 10px 0;
}

.web-product-section .left .bottom h4 {
    text-align: right;
    text-decoration: none;
    font-family: estedad;
    color: #425664;
    font-size: 15px;
    padding: 10px 0;
}

.web-product-section .left .bottom .discount {
    display: flex;
}

.web-product-section .left .bottom .discount h4 {
    background-color: #d35252;
    color: #f6f4f2;
    font-family: mikhak;
    border-radius: 4px;
    padding: 5px 5px;
}

.web-product-section .left .bottom .discount h6 {
    color: #425664;
    font-family: mikhak;
    margin: 7px 10px;
}

.web-product-section .left .bottom strong {
    color: #425664;
    font-family: estedad;
    font-size: 20px;
}

.web-product-section .center {
    text-align: right;
}

.web-product-section .center .brand {
    display: flex;
    text-align: right;
}

.web-product-section .center strong {
    font-size: 30px;
    font-weight: bold;
    color: #d35252;
    position: relative;
    right: -46%;
}

.web-product-section .center h6 {
    font-size: 14px;
    font-family: estedad;
    color: #425664;
    position: relative;
    right: -42%;
    margin-top: 15px;
}

.web-product-section .center hr {
    margin: 0;
}

.web-product-section .center .customers {
    display: flex;
    text-align: right;
}

.web-product-section .center .customers h5 {
    font-size: 11px;
    font-family: estedad;
    color: #c5a47c;
    margin-left: 10px;
    position: relative;
    left: 4%;
}

.web-product-section .center .customers i {
    position: relative;
    left: 4.5%;
    font-size: 12px;
}

.web-product-section .center .customers a {
    font-size: 11px;
    text-decoration: none;
    font-family: estedad;
    color: #425664;
}

.web-product-section .center .customers a:hover {
    color: #c5a47c;
}

.web-product-section .center .color {
    display: flex;
    margin-left: 170px;
}

.web-product-section .center .color h3 {
    color: #425664;
    font-size: 18px;
    font-family: estedad;
}

.web-product-section .center .color {
    position: relative;
}

.web-product-section .center .color input {
    margin-left: 20px;
    margin-top: -5px;
}

.web-product-section .center .event {
    border: 1px solid #d35252;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    right: -2%;
}

.web-product-section .center .event h4 {
    font-family: mikhak;
    font-size: 20px;
    color: #c5a47c;
    margin-bottom: -15px;
}

.web-product-section .center .event p {
    font-family: estedad;
    font-size: 12px;
    color: #425664;
}

.web-product-section .right img {
    width: 100%;
    height: 40vh;
    border-radius: 3px;
}

.web-product-section button {
    width: 100%;
    height: 7vh;
    font-family: mikhak;
    background-color: #d35252;
    padding: 5px;
    border-radius: 5px;
    color: #f6f4f2;
    transition: all .5s;
}

.web-product-section .buy #i {
    position: relative;
    left: 4.5%;
}

.web-product-section button:hover {
    transform: scale(1.05);
}

.web-product-section .left-replace {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    height: 40vh;
    padding: 20px;
    display: none;
}

.web-product-section .left-replace .top h4 {
    text-align: right;
    color: #c5a47c;
    text-decoration: none;
    font-family: estedad;
    font-size: 15px;
}

.web-product-section .left-replace .top i {
    text-align: right;
    color: #c5a47c;
    text-decoration: none;
    font-family: estedad;
    display: inline-block;
    font-size: 15px;
    top: 7px;
}

.web-product-section .left-replace .center h4 {
    text-align: right;
    color: #425664;
    text-decoration: none;
    font-family: mikhak;
    font-size: 15px;
    padding: 10px 0;
}

.web-product-section .left-replace .bottom h4 {
    text-align: right;
    text-decoration: none;
    font-family: estedad;
    color: #425664;
    font-size: 15px;
    padding: 10px 0;
}

.web-product-section .left-replace .bottom .discount {
    display: flex;
}

.web-product-section .left-replace .bottom .discount h4 {
    background-color: #d35252;
    color: #f6f4f2;
    font-family: mikhak;
    border-radius: 4px;
    padding: 5px 5px;
}

.web-product-section .left-replace .bottom .discount h6 {
    color: #425664;
    font-family: mikhak;
    margin: 7px 10px;
}

.web-product-section .left-replace .bottom strong {
    color: #425664;
    font-family: estedad;
    font-size: 20px;
}

.web-swiper-section {
    margin-top: 50px;
    height: 380px;
    background-color: #425664;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

.web-swiper-section .row {
    justify-content: center;
    align-items: center;
}

.web-swiper-section .swiper {
    width: 100%;
    height: 340px;
    margin-left: 15px;
}

.web-swiper-section .swiper .swiper-slide {
    cursor: pointer;
    transition: all .4s;
}

.web-swiper-section .swiper .swiper-slide:hover {
    transform: scale(1.1);
}

.web-swiper-section .swiper .swiper-slide .card {
    margin-top: 40px;
}

.web-swiper-section .swiper .swiper-slide .card-body {
    border: 0;
    text-align: center;
}

.web-swiper-section .swiper .swiper-slide img {
    width: 100%;
    height: 200px;
}

.web-swiper-section .swiper .swiper-slide h4 {
    font-size: 15px;
    font-family: estedad;
    color: #425664;
}

.web-swiper-section .swiper .swiper-slide p {
    font-size: 15px;
    font-family: estedad;
    color: #d35252;
}

.web-swiper-section .right .card {
    text-align: center;
    background-color: #425664;
    border: 0;
}

.web-swiper-section .right .svg-inline--fa {
    color: #c5a47c;
    margin: auto;
    font-size: 50px;
}

.web-swiper-section .right h4 {
    font-size: 30px;
    font-family: mikhak;
    font-weight: bold;
    color: #c5a47c;
}

.web-swiper-section .right button {
    background-color: transparent;
    border: solid 3px #c5a47c;
    color: #f6f4f2;
    font-family: estedad;
    transition: all .4s;
    font-size: 18px;
}

.web-swiper-section .right button:hover {
    background-color: #c5a47c;
    color: #f6f4f2;
}

.web-tab-section {
    height: 60vh;
    margin-top: 30px;
}

.web-tab-section ul {
    float: right;
    border: 0;
}

.web-tab-section ul li .nav-link {
    text-decoration: none;
    font-size: 20px;
    font-family: estedad;
    color: #425664;
    border: none;
}

.web-tab-section ul li a:hover {
    color: #c6ad8f;
}

.web-tab-section .tab-content {
    text-align: right;
    display: inline-block;
    margin-top: 30px;
}

.web-tab-section .tab-content #first-tab h4 {
    font-size: 20px;
    font-family: mikhak;
    font-weight: bold;
    color: #d35252;
}

.web-tab-section .tab-content #first-tab p {
    font-size: 16px;
    font-family: estedad;
    color: #425664;
}

.web-tab-section .tab-content #second-tab {
    text-align: right;
}

.web-tab-section .tab-content #second-tab .right {
    direction: rtl;
    transform: translate(750px, 55px);
    width: 20vw;
}

.web-tab-section .tab-content #second-tab h4 {
    font-size: 20px;
    font-family: mikhak;
    font-weight: bold;
    color: #d35252;
    margin-bottom: 15px;
}

.web-tab-section .tab-content #second-tab .Propertie {
    width: 100%;
}

.web-tab-section .tab-content #second-tab h6 {
    font-size: 16px;
    font-family: estedad;
    font-weight: bold;
    color: #425664;
    margin-bottom: 15px;
}

.web-tab-section .tab-content #second-tab .Explanation {
    width: 100%;
}

.web-tab-section .tab-content #second-tab h5 {
    font-size: 16px;
    font-family: mikhak;
    color: #c5a47c;
    font-weight: normal;
    margin-bottom: 15px;
}

.web-comment-section .left .comment {
    text-align: right;
}

.web-comment-section .left h2 {
    font-size: 20px;
    font-family: mikhak;
    font-weight: bold;
    color: #d35252;
    text-align: right;
}

.web-comment-section .left .comment h4 {
    font-size: 14px;
    font-family: mikhak;
    color: #c5a47c;
    font-weight: normal;
}

.web-comment-section .left .comment p {
    font-size: 10px;
    font-family: mikhak;
    color: #425664;
    font-weight: normal;
    margin-bottom: 15px;
}

.web-comment-section .left .comment h6 {
    font-size: 14px;
    font-family: estedad;
    color: #425664;
    font-weight: normal;
    margin-bottom: 15px;
}

.web-comment-section .left .feedback {
    text-align: left;
}

.web-comment-section .left .feedback a {
    text-decoration: none;
    margin-right: 5px;
}

.web-comment-section .left .feedback span {
    color: #425664;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    top: -4px;
}

.web-comment-section .left .feedback i {
    font-size: 18px;
    cursor: pointer;
}

.web-comment-section .right {
    text-align: right;
}

.web-comment-section .right .point h3 {
    color: #425664;
    font-family: mikhak;
    font-size: 15px;
}

.web-comment-section .right .point span {
    color: #d35252;
    font-family: mikhak;
    font-weight: bold;
    font-size: 35px;
}

.web-comment-section .right .discription p {
    color: #c5a47c;
    font-family: estedad;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.web-comment-section .right h4 {
    color: #425664;
    font-family: estedad;
    font-size: 18px;
}

.web-comment-section .right .bar {
    margin-bottom: 20px;
}

.web-comment-section .right .commenting {
    margin-top: 65px;
    text-align: right;
}

.web-comment-section .right .commenting h6 {
    color: #425664;
    font-family: estedad;
    font-size: 18px;
}

.web-comment-section .right .commenting button {
    color: #d35252;
    font-family: mikhak;
    font-size: 18px;
    background-color: transparent;
    margin-top: 20px;
    border: 2px solid #d35252;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.web-comment-section .right .commenting button:hover {
    color: #f6f4f2;
    background-color: #d35252;
}

.web-comment-section .right .sign-in {
    padding: 20px;
    border: 1.5px solid #d35252;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
    transition: all 1s;
}

.web-comment-section .right .sign-in h4 {
    font-size: 13px;
    font-family: estedad;
    font-weight: bold;
    color: #d35252;
    margin-bottom: 20px;
}

.web-comment-section .right .sign-in h6 {
    font-size: 12px;
    font-family: mikhak;
    color: #425664;
}

.web-comment-section .right .sign-in input {
    width: 250px;
    height: 30px;
    border: 2px solid #c5a47c;
    border-radius: 5px;
    margin-bottom: 20px;
}

.web-comment-section .right .sign-in .enter {
    background-color: #c5a47c;
    color: #f6f4f2;
    font-size: 16px;
    font-family: mikhak;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.web-comment-section .right .sign-in #eror {
    margin-top: 15px;
    font-family: mikhak;
    color: #d35252;
    font-size: 12px;
}

.web-footer-section {
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: #425664;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.web-footer-section .section {
    margin-top: 50px;
}

.web-footer-section li {
    list-style: none;
}

.web-footer-section strong {
    font-family: estedad;
    font-weight: normal;
    font-size: 18px;
    color: #c5a47c;
}

.web-footer-section .section:nth-child(1) li {
    margin-left: 10px;
}

.web-footer-section .section:nth-child(1) li a {
    font-size: 25px;
}

.web-footer-section .section:nth-child(1) .fa-telegram:hover {
    color: rgb(49, 146, 236);
}

.web-footer-section .section:nth-child(1) .fa-instagram:hover {
    color: rgb(236, 49, 96);
}

.web-footer-section .section:nth-child(1) .fa-twitter:hover {
    color: rgb(49, 223, 236);
}

.web-footer-section a {
    text-decoration: none;
    font-family: estedad;
    font-size: 13px;
    color: #f6f4f2;
    transition: all .4s;
}

.web-footer-section a:hover {
    letter-spacing: 1px;
    color: #c5a47c;
}

.web-footer-section .icons {
    display: flex;
    position: relative;
    left: 60%;
    margin: 15px 0;
}

.web-footer-section i {
    position: relative;
    right: 0;
    margin-left: 15px;
}

.web-footer-section .butn {
    display: flex;
}

.web-footer-section button {
    font-family: estedad;
    font-size: 15px;
    color: #425664;
    background-color: #c5a47c;
    transition: all .4s;
    margin: 0 2px 0 0;
}

.web-footer-section button:hover {
    background-color: #c5a47c;
}

.web-footer-section input {
    background-color: transparent;
    border: solid 3px #c5a47c;
    border-radius: 3px;
}

.web-footer-section input::placeholder {
    color: #f6f4f2;
    font-size: 15px;
    font-family: estedad;
    text-align: right;
}

.web-footer-section hr {
    background-color: #f6f4f2;
}

.web-footer-section .second h4 {
    font-family: estedad;
    font-weight: normal;
    font-size: 18px;
    color: #c5a47c;
}

.web-footer-section .second p {
    font-family: estedad;
    font-size: 13px;
    color: #f6f4f2;
}

.web-footer-section .copy-right {
    text-align: center;
    margin-top: 5px;
}

.web-footer-section .copy-right p {
    font-family: estedad;
    font-size: 13px;
    color: #d38652;
    margin-bottom: 0;
}

@media screen and (max-width:1500px) {

    .web-nav-section .nav .column {
        margin: 0 70px;
    }

}

@media screen and (max-width:1500px) {

    .web-nav-section .nav .column {
        margin: 0 50px;
    }

}

@media screen and (max-width:1200px) {
    .web-menu-section .first-line .right a {
        font-size: 25px;
    }

    .web-menu-section .first-line .right .search-box {
        width: 445px;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 410px;
    }

    .web-product-section .center .color {
        margin-left: 140px;
    }

    .web-product-section .center .customers a {
        font-size: 8px;
    }

    .web-product-section .center .customers h5 {
        font-size: 9px;
    }

    .web-tab-section {
        margin-bottom: 40px;
    }

    .web-tab-section .tab-content #second-tab .right {
        transform: translate(685px, 55px);
    }

}

@media screen and (max-width:1107px) {

    .web-tab-section .tab-content #second-tab h5 {
        font-size: 14px;
    }
}

@media screen and (max-width:1100px) {

    .web-nav-section .nav .column {
        margin: 0 40px;
    }

}

@media screen and (max-width:992px) {

    .web-menu-section {
        margin-bottom: 5px;
        height: 120px;
    }

    .web-menu-section .first-line .first-row {
        height: 6vh;
    }

    .web-menu-section .first-line .right a {
        font-size: 20px;
        margin-top: 15px;
    }

    .web-menu-section .first-line .right .search-box {
        width: 318px;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 280px;
    }

    .web-menu-section .first-line .left button span {
        font-size: 10px;
    }

    .web-menu-section .first-line .left button i {
        font-size: 19px;
    }

    .web-menu-section .first-line .left button {
        height: 32px;
        margin-top: 15px;
    }

    .web-menu-section .first-line .left a i {
        transform: scale(1.2);
    }

    .web-menu-section .second-line .right {
        display: none;
    }

    .web-menu-section .second-menu {
        display: inline-block !important;
    }

    .web-menu-section .first-line .left {
        display: none;
    }

    .web-menu-section .first-line .right .search-box {
        width: 495px;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 460px;
    }

    .web-menu-section .second-line .left {
        margin-top: 15px;
    }

    .web-menu-section .second-line .left-replace {
        display: flex;
    }

    .web-menu-section .second-line .left-replace i {
        font-size: 20px;
    }

    .web-menu-section .second-line .left-replace a i {
        transform: scale(1.2);
    }

    .web-menu-section .second-line .left-replace button span {
        font-size: 12px;
    }

    .web-product-section .center .color {
        margin-left: 70px;
    }

    .web-product-section .center strong {
        right: -23%;
    }

    .web-product-section .center h6 {
        right: -20%;
    }

    .web-product-section .center .color {
        font-size: 17px;
    }

    .web-product-section .center .event h4 {
        font-size: 17px;
    }

    .web-product-section .left .top h4 {
        font-size: 12px;
    }

    .web-product-section .left .bottom h4 {
        font-size: 14px;
    }

    .web-product-section .center .color input {
        margin-top: -5px;
    }

    .web-tab-section .tab-content #second-tab .right {
        transform: translate(490px, 55px);
    }

    .web-tab-section .tab-content #first-tab p {
        font-size: 14px;
    }

    .web-swiper-section .right h4 {
        font-size: 24px;
    }

    .web-comment-section .right .discription p {
        font-size: 12px;
    }

    .web-comment-section .right h4 {
        font-size: 15px;
    }

    .web-comment-section .right .commenting h6 {
        font-size: 13px;
    }

    .web-comment-section .right .commenting button {
        font-size: 14px;
        margin-top: 5px;
    }

    .web-comment-section .right .sign-in input {
        width: 185px;
    }

    .web-footer-section strong {
        font-size: 14px;
    }

    .web-footer-section a {
        font-size: 11px;
    }

    .web-footer-section .icons {
        left: 30%;
    }

    .web-footer-section button {
        width: 55px;
        height: 30px;
        font-size: 11px;
    }

    .web-footer-section input {
        height: 30px;
        width: 180px;
        border: solid 2px #c5a47c;
    }

    .web-footer-section input::placeholder {
        font-size: 14px;
    }

    .web-footer-section .second h4 {
        font-size: 16px;
    }

    .web-footer-section .second p {
        font-size: 11px;
    }
}

@media screen and (max-width:767px) {

    .web-menu-section .first-line .right .search-box input {
        width: 300px;
    }

    .web-menu-section .second-menu .hamburger-nav .right {
        left: 0;
    }

    .web-menu-section .hamburger-menu {
        right: 20px;
    }

    .gg-search {
        right: 5px;
    }

    .web-menu-section .first-line .right .title {
        display: none;
    }

    .web-menu-section .first-line .right .title-replace {
        display: flex !important;
    }

    .web-menu-section .first-line .right .title-replace span {
        margin-right: 7px;
    }

    .web-menu-section .second-line .left-replace button span {
        font-size: 9px;
    }

    .web-menu-section .second-line .left-replace i {
        font-size: 18px;
    }

    .web-product-section {
        height: 770px;
    }

    .web-product-section button {
        height: 50px;
    }

    .web-product-section .center .customers h5 {
        font-size: 10px
    }

    .web-product-section .center .customers a {
        font-size: 10px;
    }

    .web-product-section .left {
        display: none;
    }

    .web-product-section .left-replace {
        display: block;
        margin-top: 20px;
        height: 295px;
    }

    .web-product-section .center strong {
        right: -60%;
    }

    .web-product-section .center h6 {
        right: -58%;
    }

    .web-product-section .center .customers {
        position: relative;
        margin-left: 175px;
    }

    .web-product-section .center .color {
        margin-left: 320px;
    }

    .web-product-section .right img {
        margin-top: 10px;
    }

    .web-tab-section {
        height: 470px;
    }

    .web-tab-section .tab-content #second-tab .right {
        transform: translate(325px, 55px);
    }

    .web-tab-section .tab-content #second-tab h6 {
        font-size: 13px;
    }

    .web-tab-section .tab-content #second-tab h5 {
        font-size: 13px;
    }

    .web-comment-section .left {
        height: 890px;
    }

    .web-comment-section .left .comment h6 {
        font-size: 12px;
    }

    .web-comment-section .right .sign-in input {
        width: 60%;
    }

    .web-comment-section .right .sign-in {
        width: 100%;
    }

    .web-comment-section .right .sign-in .enter {
        display: block;
        position: relative;
        width: 60%;
        margin-left: auto;
    }

    .web-comment-section .right .commenting button {
        margin-bottom: 30px;
    }

    .web-footer-section .section:nth-child(2) {
        margin-top: 65px;
    }
}

@media screen and (max-width: 540px) {

    .web-menu-section .hamburger-nav {
        right: 70%;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 280px;
    }

    .web-menu-section .second-line .left-replace button span {
        font-size: 10px;
    }

    .web-menu-section .second-line .left-replace i {
        font-size: 19px;
    }

    .web-tab-section .tab-content #second-tab .right {
        transform: translate(265px, 55px);
    }

    .web-menu-section .hamburger-menu {
        width: 30px;
    }

    .web-menu-section .second-menu .hamburger-nav .right {
        width: 100%;
        right: -100%;
    }

    .web-menu-section .second-line .left a {
        font-size: 14px;
    }

    .web-menu-section .second-line .left {
        margin-top: 23px;
    }

    .web-menu-section .first-line .right a {
        font-size: 19px;
        margin-top: 16px;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 270px;
    }

    .web-swiper-section .swiper .swiper-slide h4 {
        font-size: 11px;
    }

    .web-swiper-section .swiper .swiper-slide p {
        font-size: 13px;
    }

    .web-comment-section .right .commenting {
        margin-bottom: 30px;
    }

    .web-footer-section {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .web-product-section .center .customers {
        margin-left: 150px;
    }

    .web-product-section .center .color {
        margin-left: 300px;
    }

    .web-menu-section .second-line .left-replace button span {
        font-size: 9px;
    }

    .web-menu-section .second-line .left-replace i {
        font-size: 17px;
    }

}

@media screen and (max-width: 495px) {

    .web-menu-section .first-line .right .search-box input {
        width: 235px;
    }

    .web-menu-section .second-line .left-replace button span {
        display: none;
    }

    .web-menu-section .second-line .left-replace i {
        font-size: 23px;
    }

    .web-menu-section .second-line .left-replace button {
        width: 50px;
    }

    .web-product-section .center strong {
        right: -57%;
    }

    .web-product-section .center h6 {
        right: -55%;
    }

    .web-product-section .center .customers {
        margin-left: 90px;
    }

    .web-product-section .center .color {
        margin-left: 270px;
    }

}

@media screen and (max-width: 460px) {

    .web-menu-section .first-line .right .search-box input {
        width: 195px;
    }

    .web-swiper-section .right button {
        font-size: 10px;
    }

    .web-menu-section .second-line .left a {
        font-size: 12px;
    }

    .web-menu-section .first-line .right .search-box input {
        width: 170px;
    }

    .web-swiper-section .right h4 {
        font-size: 21px
    }

    .web-swiper-section .swiper .swiper-slide h4 {
        font-size: 9px;
    }

    .web-swiper-section .swiper .swiper-slide p {
        font-size: 11px;
    }

    .web-product-section .center .customers {
        margin-left: 60px;
    }

    .web-product-section .center .color {
        margin-left: 230px;
    }
}

@media screen and (max-width: 450px) {

    .web-product-section .center strong {
        right: -54%;
    }

    .web-product-section .center h6 {
        right: -51%;
    }

}

@media screen and (max-width: 420px) {

    .web-product-section .center strong {
        right: -48%;
    }

    .web-product-section .center h6 {
        right: -45%;
    }

    .web-swiper-section .right h4 {
        font-size: 20px
    }

    .web-product-section .center .customers {
        margin-left: 30px;
    }

    .web-product-section .center .color {
        margin-left: 200px;
    }

}